## [ Required Variables ]

# ! The domain base of your app, this should not end in a trailing slash
DOMAIN_BASE=http://localhost:8080

## ? Functionality Changes, these are optional but recommended to setup as you like

# The maximum map caching, from my testing 15 would reach 250mb of ram usage on docker
CACHE_MAP_LIMIT=15
# Maximum API call requests to the API, this will ban the api for 5 minutes after requesting more than API_RATE_LIMIT in 5 minutes.
API_BAN_LIMIT=300

# Optional database driver, you can just ignore and use sqlite
DATABASE_DRIVER=sqlite

# Mysql database connetion details, fill these in if you chose mysql above.
MYSQL_ROOT_PASSWORD=example-dev
MYSQL_DATABASE=freepad
MYSQL_USER=freepad
MYSQL_PASSWORD=example-dev
MYSQL_URL=mariadb
MYSQL_PORT=3306